<div class="container py-5">

  <h3 class="titulo-pagina">Grupos</h3>

  <button class="btn btn-primario boton-agregar p-3 mx-auto d-block mb-4" routerLink="/admin/agregar">Agregar</button>

  <div
  class="card card-admin flex-row py-3 px-4 align-items-center justify-content-center position-relative mb-4"
  *ngFor="let grupos of grupos"
  >
    <h5 class="m-0 card-h5">{{grupos.nombre}}</h5>
    <div class="grupo-botones position-absolute py-3 px-4">
      <button class="boton-admin boton-admin-editar"></button>
      <button class="boton-admin boton-admin-eliminar"></button>
    </div>
  </div>

</div>

