<!doctype html>
<html lang="en">
  <head>
    <title>documentos</title>

    <style>
      body{
        font-family: sans-serif;
      }

      .container{
        height: 90vh;
        margin: 2%;
        border: 2px solid;

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .p{
        width: 50%;
        display: none;

      }
      .button{
        width: 50%;
      }


    </style>
  </head>
  <body>
      <div class="container">
        <h1>Horarios aun no disponible</h1>
        <p>vuelve mas tarde</p>

      </div>
  </body>
  </html>
