<nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand m-0">SGE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-md-auto">
        <a class="nav-link" routerLink="{{admin.path}}" routerLinkActive="active" *ngFor="let admin of adminComponentes">
          {{admin.titulo}}
        </a>
      </div>
      <a class="nav-link nav-link-usuario text-end px-0">Usuario conectado</a>
    </div>
  </div>
</nav>
